[Unit]
Description=HDFS Namenode
After=syslog.target

[Service]
User={{ hdfs_unix_user }}
Group={{ hadoop_group_name }}
Type=simple
ExecStart={{ hadoop_prefix }}/sbin/hadoop-daemon.sh \
  --config {{ hadoop_conf_dir }} --script hdfs start datanode
ExecStart={{ hadoop_prefix }}/sbin/hadoop-daemon.sh \
  --config {{ hadoop_conf_dir }} --script hdfs stop datanode
Restart=on-abort

[Install]
WantedBy=multi-user.target
