127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6



{% for g in groups %}
{% if g not in ['all'] %}
{% for h in groups[g]%}
{% if 'ansible_host' in hostvars[h] %}
{{hostvars[h]['ansible_host']}} {{ h }}
{% else %}
{{hostvars[h]['inventory_hostname']}} {{g[:-1]}}{{loop.index}}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
