#!/bin/sh
### BEGIN INIT INFO
# Provides:          {{ service_name }}
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       {{ service_description }}
### END INIT INFO

RETVAL=0

SCRIPT={{ service_script }}
RUNAS={{ service_runas }}

PIDFILE={{ service_pidfile }}
LOGFILE={{ service_logfile }}

start() {
  if [ -f $PIDFILE ] && kill -0 $(cat $PIDFILE); then
    echo 'Service already running' >&2
    RETVAL=1
  fi
  echo 'Starting service…' >&2
  local CMD="$SCRIPT &> \"$LOGFILE\" & echo \$!"
  su -c "$CMD" $RUNAS > "$PIDFILE"
  RETVAL=$?
  echo 'Service started' >&2
  return RETVAL
}

stop() {
  if [ ! -f "$PIDFILE" ] || ! kill -0 $(cat "$PIDFILE"); then
    echo 'Service not running' >&2
    return 1
  fi
  echo 'Stopping service…' >&2
  kill -15 $(cat "$PIDFILE") && rm -f "$PIDFILE"
  RETVAL=$?
  echo 'Service stopped' >&2
  return RETVAL
}

status() {
  echo -n "Checking $prog status: "
  {{ status_cmd }}
  RETVAL=$?
  return $RETVAL
}


case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  status)
    echo TODO
    ;;
  restart)
    stop
    start
    ;;

  *)
    echo "Usage: $0 {start|stop|status|restart}"
esac